header{
    width: 100%;
    height: 80px;
    background-color:rgba(255, 255, 255, 0.644);
    position: fixed;
    top: 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
 }
 header div{
     display: flex;
     height: 60px;
     align-content: center;
 }
 .header-left{
     margin-top: 15px;
     margin-left: 5px;
 }
 .header-left img{
     width: 50px;
     height: 50px;
 }
 .header-left p{
     margin-top: 20px;
     font-size: 20px;
 }
 .header-right{
     margin-right: 60px;
     margin-top: 10px;
 }
 .header-right button{
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 20px;
     border: groove white 3px;
     background-color: rgba(0, 0, 139, 0.253);
     color: white;
     font-size: 20px;
    
 }
 .menu button{
    margin: 15px;
    padding: 5px;
    height: 40px;
    color: blue;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    
}



main{
    margin-top:80px;
    margin-bottom:80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head{   
     color: #0582ba;
    font-size: 40px;
    margin: 0 auto 0;
    padding: 31px 0 32px;
    width: 940px;
    font-weight:bold;
    text-align: center;
}
.pcconte{
    display:block;
}

tbody
    {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

 th{
        height: auto;
        text-align: center;
        vertical-align: middle;
        border: solid white ;
    }
p{
        font:20px;
        
        text-align: center;
        margin-top:20px;
        margin-bottom: 20px;
    }
.title_box{
        color:white;
        background-color: #0582ba;
    }

.pcconte{
    background-color:gainsboro;
    margin:20px;
}
.title_box .title_1 {
    border-right: 2px solid #fff;
    width: 146px;
    padding:20px;
}

.title_box .title_2 {
    border-right: 2px solid #fff;
    width: 146px;
}
.title_box .title_3 {
    border-right: 2px solid #fff;
    width: 146px;
}
.title_box .title_4 {
    border-right: 2px solid #fff;
    width: 146px;
}

.title_box .title_5 {
    border-right: 2px solid #fff;
    width: 146px;
}
.title_box .title_6 {
    border-right: 2px solid #fff;
    width: 146px;
}
    td{
    text-align:center;
    height: auto;
    text-align: center;
    vertical-align: middle;      
    border-collapse: separate;
    border:solid white ;
 
}

.curicuramweek{
    text-align:center;
    padding-top: 10px;   
}
.pcconte{
    margin:0 10%;
}
.content th {
    color:#0582ba;
    font-size:20px;
    height: auto;
    text-align: center;
    vertical-align: middle;
}
.content{
    border-bottom:solid 10px #0582ba;
}

footer{
    width: 100%;
    height: 100px;
    background-color: blue; 
    margin-bottom: 0px;
    display:flex;
    justify-content: space-between;
}
footer div{
    display: flex;
    height: 90px;
    align-content: center;
}
.footer-left{
    margin-top: 10px;
    margin-left: 10px;
}
.footer-left img{
    width: 60px;
    height: 80px;
}
.footer-left p{
    margin-top: 40px;
    font-size: 20px;
}
.footer-right{
    margin-right: 5px;
    width: 200px;
    font-size: 5px;
    text-align: end;
}
.footer-right p{
    margin-top: 80px;
}


.sample_wrap{
    
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sample_table{
    margin:0 auto;
    
}
.sample_th{
    width:100px;
}
th{
    margin-top:60px;
}

.sample_table{
  justify-content:  center ;
}
.sample_button{
    background-color: #0582ba;
    color:white;
    margin-bottom: 40px;
}
.sample_button:hover{
    background-color: #fff;
    color:#0582ba;
}
.yycountdown-box{
    text-align:center;
    margin:10px 0;
    color:#000000;
  }
   
  #timerOlympic .yycountdown-box .yyc-day{
    font-size:3.0em;
    color:#0085C7;
  }
  #timerOlympic .yycountdown-box .yyc-hou{
    font-size:3.0em;
    color:#F4C300;
  }
  #timerOlympic .yycountdown-box .yyc-min{
    font-size:3.0em;
    color:#009F3D;
  }
  #timerOlympic .yycountdown-box .yyc-sec{
    font-size:3.0em;
    color:#DF0024;
  }
   
  #timerOlympic .yycountdown-box .yyc-day-text,
  #timerOlympic .yycountdown-box .yyc-hou-text,
  #timerOlympic .yycountdown-box .yyc-min-text,
  #timerOlympic .yycountdown-box .yyc-sec-text{
    font-size:1.0em;
  }


  #timerOlympic{
      text-align: center;
      font-size: 40px;
      color:#0085C7;
  }
  .count{
      text-align: center;
      margin-bottom: 30px;
      font-size:40px;
  }