header{
    width: 100%;
    height: 80px;
    background-color:rgb(55,58,109);
    position: fixed;
    top: 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
 }
 header div{
     display: flex;
     height: 60px;
     align-content: center;
 }
 .header-left{
     margin-top: 15px;
     margin-left: 5px;
 }
 .header-left img{
     width: 50px;
     height: 50px;
 }
 .header-left p{
     margin-top: 20px;
     font-size: 20px;
 }
 .header-right{
     margin-right: 60px;
     margin-top: 10px;
 }
 .header-right button{
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 20px;
     border: groove white 3px;
     background-color: rgba(0, 0, 139, 0.253);
     color: white;
     font-size: 20px;
    
 }
 .menu button{
    margin: 15px;
    padding: 5px;
    height: 40px;
    color: #6fc2d0;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);   
}

 
 /* ここから講師紹介メイン */
 #teacher {
     background-image: url(../img/sky.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     width: 100%;
     margin-top: 80px;
     padding: 20px;
     text-align: center;
     box-sizing: border-box;
 }
 #teacher h1 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
     margin: 20px;
     font-size: 36px;
     color:lightcoral;
 }

 #teacher span {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
}

 #teacher p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
     color: #373a6d;
     margin: 20px;
     font-size: 20px;
     line-height: 1.5;
 }
.english {
    padding: 20px;
} 

 /*ボタン設定  */
 .button {
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    outline: none;
    position: relative;
    perspective: 300px;
    padding: 5px 50px;

  }
  .button::before,
  .button::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
  }
  .button,
  .button::before,
  .button::after {
    transition: all .5s;
  }
  
  .button span {
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    border: 2px solid #373a6d;
    text-align: center;
    line-height: 56px;
    box-sizing: border-box;
    transition: all .5s;
    pointer-events: none;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .button span:nth-child(1) {
    background-color: #373a6d;
    color: #fff;
    transform: rotateX(90deg);
    transform-origin: 50% 50% -30px;
  }
  .button span:nth-child(2) {
    background-color: #fff;
    color: #373a6d;
    transform: rotateX(0deg);
    transform-origin: 50% 50% -30px;
  }
  .button:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .button:hover span:nth-child(2) {
    background-color: #373a6d;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

/* イベント用 */
.proteacher {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#ikesan, #kansan {
    width: 50%;
}
.programming img {
    width: 80%;
}

#ikesan img,#kansan img {
    margin-top: 60px;
    width: 60%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
#kansan p,#ikesan p {
    font-size: 16px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.swiper-container {
    width: 70%;
    height: auto;
}
 
 /*ここからフッター  */
 footer{
     width: 100%;
     height: 80px;
     background-color: #373a6d; 
     margin-bottom: 0px;
     display:flex;
     justify-content: space-between;
 }
 footer div{
    height: 80px;
    display: flex;
    align-content: center;
 }
 .footer-left{
     margin-top: 10px;
     margin-left: 10px;
 }
 .footer-left img{
     width: 60px;
     height: 60px;
 }
 .footer-left p{
     margin-top: 20px;
     font-size: 20px;
 }
 .footer-right{
     margin-right: 5px;
     width: 200px;
     font-size: 10px;
     text-align: end;
 }
 .footer-right p{
     margin-top: 40px;
 }
 
 