header{
    width: 100%;
    height: 80px;
    background-color:rgb(55,58,109);
    position: fixed;
    top: 0px;
    display:flex;
    justify-content: space-between;
    align-items: center;
 }
 header div{
     display: flex;
     height: 60px;
     align-content: center;
 }
 .header-left{
     margin-top: 15px;
     margin-left: 5px;
 }
 .header-left img{
     width: 50px;
     height: 50px;
 }
 .header-left p{
     margin-top: 20px;
     font-size: 20px;
 }
 .header-right{
     margin-right: 60px;
     margin-top: 10px;
 }
 .header-right button{
     margin-top: 10px;
     margin-bottom: 10px;
     margin-right: 20px;
     border: groove white 3px;
     background-color: rgba(0, 0, 139, 0.253);
     color: white;
     font-size: 20px;
    
 }
 .menu button{
    margin: 15px;
    padding: 5px;
    height: 40px;
    color: #6fc2d0;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);   
}

 
 /* ここから講師紹介メイン */
 #teacher {
     background-image: url(../img/sky.jpg);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     width: 100%;
     margin-top: 80px;
     padding: 20px;
     text-align: center;
     box-sizing: border-box;
 }
 #teacher h1 {
    font-family: "Gill Sans", sans-serif;
     margin: 20px;
     font-size: 36px;
     color:lightcoral;
 }

 #teacher span {
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}

 #teacher p {
    font-family: "Gill Sans", sans-serif;
     color: #373a6d;
     margin: 20px;
     font-size: 20px;
     line-height: 1.5;
 }

 .name button{
    margin: 15px;
    padding: 10px;
    height: 40px;
    color: #6fc2d0;
    font-weight: bold;
}



/* イベント用 */
#ikesan img,#ikesan p {
    display: none;
}
#kansan img,#kansan p {
    display: none;
}
.swiper-container {
    width: 70%;
    height: auto;
}
 
 /*ここからフッター  */
 footer{
     width: 100%;
     height: 100px;
     background-color: #373a6d; 
     margin-bottom: 0px;
     display:flex;
     justify-content: space-between;
 }
 footer div{
    height: 80px;
    display: flex;
    align-content: center;
 }
 .footer-left{
     margin-top: 10px;
     margin-left: 10px;
 }
 .footer-left img{
     margin-top: 10px;
     width: 60px;
     height: 60px;
 }
 .footer-left p{
     margin-top: 20px;
     font-size: 20px;
 }
 .footer-right{
     margin-right: 5px;
     width: 200px;
     font-size: 10px;
     text-align: end;
 }
 .footer-right p{
     margin-top: 40px;
 }
 
 